.example-container {
  display: flex;
  flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }

  .example-container form {
    margin-bottom: 20px;
  }

    .example-container form > * {
      margin: 5px 0;
    }

  .example-container .mat-radio-button {
    margin: 0 5px;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.custom-option{
   padding-top:2px;
}



