<breadcrumb></breadcrumb>
<mat-card> 
  <mat-card-title>DPR Form  <a routerLink="/drilling/DPRExcel" style="font:10">(Upload Excel DPR)</a></mat-card-title>
  <form [formGroup]="dprForm">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="25" fxFlex.gt-sm="25" class="matero-col">
        <div class="example-container">
          <mat-form-field>
            <input matInput readonly [matDatepicker]="picker" placeholder="DPR Date(mm-dd-yyy)" formControlName="DPR_DATE">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && GetRequired.DPR_DATE.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field class="m-r-8">
            <mat-select placeholder="Select Block/Field *" formControlName="BLOCK_ID">
              <mat-option>-- Select Block/Field --</mat-option>
              <mat-option *ngFor="let dprf of DPRField" [value]="dprf.FIELD_ID">
                {{dprf.FIELD_NAME}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.BLOCK_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Operational Area *" formControlName="OPERATION_AREA_ID">
              <mat-option>-- Select Operational Area --</mat-option>
              <mat-option *ngFor="let area of OperationalArea" [value]="area.Area_Id">
                {{area.Area_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.OPERATION_AREA_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select State *" formControlName="STATE">
              <mat-option>-- Select State --</mat-option>
              <mat-option *ngFor="let st of StateList" [value]="st.STATE_ID">
                {{st.STATE}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.STATE.errors">This is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="25" fxFlex.gt-sm="25" class="matero-col">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Rig Name *" formControlName="RIG_NAME">
            <mat-error *ngIf="submitted && GetRequired.RIG_NAME.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Operating Status *" formControlName="RIG_OPERATOR_STATUS_ID">
              <mat-option>-- Select Operating Status --</mat-option>
              <mat-option *ngFor="let op of OperatingStatus" [value]="op.Status_Id">
                {{op.Status_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.RIG_OPERATOR_STATUS_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Well Name *" formControlName="WELL_NAME">
            <mat-error *ngIf="submitted && GetRequired.WELL_NAME.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Surface Co-ordinate Latitude" formControlName="LATITUDE" pattern="^[1-9]\d*(\.\d+)?$">
            <!--<mat-error *ngIf="submitted && GetRequired.LATITUDE.errors">This is required</mat-error>-->
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="25" fxFlex.gt-sm="25" class="matero-col">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Surface Co-ordinate Longitude" formControlName="LONGITUDE" pattern="^[1-9]\d*(\.\d+)?$">
            <!--<mat-error *ngIf="submitted && GetRequired.LONGITUDE.errors">This is required</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Well Category *" formControlName="WELL_CATEGORY_ID">
              <mat-option>-- Select Well Category --</mat-option>
              <mat-option *ngFor="let wc of WellCategory" [value]="wc.Well_Category_Id">
                {{wc.Well_Category_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.WELL_CATEGORY_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select Well Type *" formControlName="WELL_TYPE_ID">
              <mat-option>-- Select  Well Type --</mat-option>
              <mat-option *ngFor="let wt of WellType" [value]="wt.WellType_Id">
                {{wt.WellType_Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.WELL_TYPE_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly [matDatepicker]="picker1" placeholder="Spud Date(mm-dd-yyy)" formControlName="SPUD_DATE">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="25" fxFlex.gt-sm="25" class="matero-col">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Select Phase *" formControlName="PHASE_ID">
              <mat-option>-- Select Operating Status --</mat-option>
              <mat-option *ngFor="let pt of PhaseType" [value]="pt.PHASE_ID">
                {{pt.PHASE_NAME}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && GetRequired.PHASE_ID.errors">This is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Target Depth(m)" formControlName="TARGET_DEPTH" pattern="^[1-9]\d*(\.\d+)?$">
            <!--<mat-error *ngIf="submitted && GetRequired.TARGET_DEPTH.errors">This is required</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Present Depth(m)" formControlName="PRESENT_DEPTH" pattern="^[1-9]\d*(\.\d+)?$">
            <!--<mat-error *ngIf="submitted && GetRequired.PRESENT_DEPTH.errors">This is required</mat-error>-->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Meterage of the Day" formControlName="METARGE" pattern="^[1-9]\d*(\.\d+)?$">
            <!--<mat-error *ngIf="submitted && GetRequired.METARGE.errors">This is required</mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="100" class="matero-col">
        <div class="example-container">
          <mat-form-field>
            <textarea matInput placeholder="DPR(24 hrs. Frief operation)" formControlName="DPR_BRIEF"></textarea>
          </mat-form-field>
          <div *ngIf="btnSubmitvisibility">
            <button mat-raised-button color="primary" (click)="onDraft()">Draft</button>
            <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-left:10px;">Submit</button>
          </div>
          <div *ngIf="btnUpdatevisibility">
            <button mat-raised-button color="accent" (click)="onDraftUpdate()">Draft </button>
            <button mat-raised-button color="accent" (click)="onDraftSubmit()" style="margin-left:10px;">Submit</button>
          </div>
        </div>
      </div>
    </div>


  </form>
</mat-card>

<div fxLayout="row wrap" class="matero-row">

  <div fxFlex="100" fxFlex.gt-sm="100" class="matero-col">

    <mat-card>
    <mat-card-title>DPR Search</mat-card-title>
    <form [formGroup]="dprSearch">     
        <mat-form-field class="m-r-8">
          <input matInput readonly [matDatepicker]="picker2" placeholder="DPR Date(mm-dd-yyy)" formControlName="DPR_DATE">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="submittedsearch && GetRequiredSearch.DPR_DATE.errors">This is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch()" class="m-l-25">Search</button>     
    </form>
  </mat-card>


  <mat-card>
    <mat-card-title>Rig Count Details</mat-card-title>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="dprdate">
          <th mat-header-cell *matHeaderCellDef>DPR Date </th>
          <td mat-cell *matCellDef="let row"> {{row.DPRDATE}} </td>
        </ng-container>
        <ng-container matColumnDef="Field">
          <th mat-header-cell *matHeaderCellDef>Field Name </th>
          <td mat-cell *matCellDef="let row"> {{row.FieldName}} </td>
        </ng-container>
        <ng-container matColumnDef="OperatingStatus">
          <th mat-header-cell *matHeaderCellDef>Operating Status  </th>
          <td mat-cell *matCellDef="let row"> {{row.OperatingStatusName}} </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State </th>
          <td mat-cell *matCellDef="let row"> {{row.StateName}} </td>
        </ng-container>
        <ng-container matColumnDef="RigName">
          <th mat-header-cell *matHeaderCellDef>Rig Name</th>
          <td mat-cell *matCellDef="let row"> {{row.RIG_NAME}} </td>
        </ng-container>

        <ng-container matColumnDef="WellName">
          <th mat-header-cell *matHeaderCellDef>Well Name </th>
          <td mat-cell *matCellDef="let row"> {{row.WELL_NAME}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status </th>
          <td mat-cell *matCellDef="let row"> {{row.STATUS}} </td>
        </ng-container>
        <ng-container matColumnDef="Edit/View">
          <th mat-header-cell *matHeaderCellDef> Edit/View</th>
          <td mat-cell *matCellDef="let row">
            <button (click)="EditRigCountDetails(row)" style="margin-left: 10px;" class="btn btn-info"><mat-icon>edit</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>

  </div>



</div>
